/* ==================== 遊戲頁面全螢幕設定 ==================== */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;           /* 移除滾輪 */
}

#game-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

/* ==================== 返回主頁按鈕 ==================== */
#back-btn {
    position: absolute;
    top: 145px;
    left: 485px;
    width: 1050px;                    /* 根據你的圖片調整大小 */
    height: auto;
    cursor: pointer;
    z-index: 10;
    border: none;
    box-shadow: none;
    transition: none;

    /* clip-path 剪裁不規則形狀 */
    clip-path: polygon(
        72% 100%, 38% 92%, 41% 84%, 39% 79%, 32% 82%, 22% 81%, 12% 83%, 9% 87%, 3% 88%, 1% 78%, 
        0% 68%, 2% 55%, 4% 55%, 11% 69%, 12% 50%, 14% 40%, 17% 42%, 24% 59%, 40% 60%, 45% 57%,
        52% 62%, 52% 57%, 59% 41%, 63% 35%, 63% 19%, 66% 6%, 73% 0%, 81% 4%, 86% 13%, 93% 41%, 
        100% 52%, 99% 64%, 96% 67%, 94% 85%, 79% 88%
    ) 
}
